
<div class="container">
  <div class="row justify-content-center">
    <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Comentarios</h2>
              </div>
        </div>
    </div>
  </div>

<div class="container-fluid">
{{#each comentarios}}

<div class="col-sm-6">

     <div class="media comment-box">
      <div class="media-left">
        <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" width="60" height="60">
      </div>

      <div class="container-fluid">
        <div class="container-fluid">
          <hr/>

          <div class="media-body">

            <div class="row">
              <p align="right" >{{user}}</p>
            </div>
 
              <h4>{{ title }}</h4>
              <small><h8 align="right" class="section-subheading text-muted">{{ timestamp }}</h8></small>
              <hr/>
              <small><a href="#">#{{topic}}</a></small>
              <br/>
              <p>{{description}}</p>
              <hr/>
               <!-- Reply REQUEST -->
              <form action="/comentarios/add" method="POST">
                <input type="hidden" name="_method" value="ADD">
                <p>
                      <button type="submit" class="float-right btn text-white btn-link"><i class="fa fa-reply"></i>Comentar</button>
                      
                      <a class="float-right btn text-red btn-link btn-sm"> <i class="fa fa-heart"></i> Like {{ views }}</a>
                 </p>   
              </form>    
          </div>
        </div>
      </div>
    </div>
</div>
{{else}}
{{/each}}
</div>